#root{
    background: #242424;
}
.about-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1.5rem;
}

.about-hero h1 {
    color: #fff;
    font-size: 3.2em;
    line-height: 1.1;
}

h1, h2, h3, h4, h5{
    color: #fff;
}

p{
    color: #fff;
}

ul{
    color: #fff;
}

.about-logo{
  max-width: 500px;
}
.about-hero p {
  font-size: 1.1rem;
  line-height: 1.6;
}

.about-content h2 {
  margin-top: 2.5rem;
  margin-bottom: 0.75rem;
}

.about-content ul {
  padding-left: 1.25rem;
  line-height: 1.6;
}

.about-page ul {
  list-style: none;
  padding-left: 0;
}

.about-page ul li {
  padding-left: 32px;
  margin-bottom: 12px;
  background-image: url("/images/bullet-popcorn.png");
  background-repeat: no-repeat;
  background-position: left 4px;
  background-size: 25px 25px;
}

/* Small phones (up to 480px)*/

@media (max-width: 480px) {

}

/*Tablets and large phones (up to 768px) */

@media (max-width: 768px) {

}

/* 
   Small laptops (up to 1024px) */

@media (max-width: 1024px) {

}

/* Desktops (1025px and up) */

@media (min-width: 1025px) {

}