.home-page{
  margin: 2rem;
}

.home-page h1 {
  font-size: 3.2em;
  line-height: 1.1;

  margin-bottom: 0.75rem;
}


.search-form {
  max-width: 600px;
  margin: 0 auto 2rem;
  display: flex;
  gap: 1rem;
  padding: 0 1rem;
  box-sizing: border-box;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.search-input {
  flex: 1;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: #333;
  color: white;
  font-size: 1rem;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.search-input:hover{
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.6);
}

.search-input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #666;
}

.search-button {
  background-color: #4b0082; /* dark purple base */
  color: #ffffff; /* white text */
  border: none;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.search-button:hover {
  background-color: #6a0dad; /* brighter purple on hover */
  box-shadow: 0 4px 12px rgba(106, 13, 173, 0.5); /* glowing purple shadow */
  transform: translateY(-2px); /* lifted look */

}


@media (max-width: 639px) {

}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}

/* Small phones (up to 480px)*/

@media (max-width: 480px) {
  .home {
    padding: 1rem 0;
  }

  .search-form {
    margin-bottom: 1rem;
  }
}

/*Tablets and large phones (up to 768px) */

@media (max-width: 768px) {
  .home {
    padding: 1rem 0;
  }

  .search-form {
    margin-bottom: 1rem;
  }
}

/* 
   Small laptops (up to 1024px) */

@media (max-width: 1024px) {

}

/* Desktops (1025px and up) */

@media (min-width: 1025px) {

}