.movie-card {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  background-color: #1a1a1a;
  transition: transform 0.2s;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.movie-card:hover {
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.6);
  transform: translateY(-5px);
}

.movie-poster {
  position: relative;
  aspect-ratio: 2/3;
  width: 100%;
}

.movie-poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.8)
  );
  opacity: 0;
  transition: opacity 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem;
}

.movie-card:hover .movie-overlay {
  opacity: 1;
}

.favorite-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

.favorite-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.favorite-btn.active {
  color: #ff4757;
}

.favorite-btn.is-favorite {
  color: #ff4757;
}

.rating-select {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 0.5rem;
}

.movie-info {
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.movie-info h3 {
  font-size: 1.15rem;
  line-height: 20px !important;
  margin: 0;
  color: #fff;
}

.movie-info p {
  color: #fff !important;
  font-size: 0.9rem;
  margin-bottom: 0rem !important;
}

.movie-info a{
  color: #fff !important;
}

.user-rating {
  color: #ffd700;
  font-size: 0.9rem;
  margin-top: auto;
}


/* Small phones (up to 480px)*/

@media (max-width: 480px) {

}

/*Tablets and large phones (up to 768px) */

@media (max-width: 768px) {
  .movie-card {
    font-size: 0.9rem;
  }

  .movie-info {
    padding: 0.75rem;
  }

  .favorite-btn {
    width: 32px;
    height: 32px;
    font-size: 1.2rem;
  }
}

/* 
   Small laptops (up to 1024px) */

@media (max-width: 1024px) {

}

/* Desktops (1025px and up) */

@media (min-width: 1025px) {

}
